<body class="stretched">
    <div id="wrapper" class="clearfix">
        <div id="header" class="header2">
            <app-header [roleId]="roleId" [userObj] = "userProfile"></app-header>
        </div>
        <div id="content">
            <div id="page-title">
                <div class="container clearfix">
                    <h2 class="v4">Verify Email</h2>
                </div>
            </div>
            <div class="content-wrap">
                <div class="container clearfix">
                    <div id="backdropbox" class="col_full col_last">

                        <div class="col_full nobottommargin">
                            <h1>Welcome to flinnt</h1>
                            <h4>
                                You are just one step away from activating your account.
                                <br> All you have to do now is follow the verification link we've sent to your
                                registered e-mail id <strong>{{userProfile.emailId}}</strong>.
                            </h4>
                        </div>
                        <h4>Please enter the 4-digit verification code we sent via Email:</h4>
                        <span>(we want to make sure it's you before we contact our movers)</span>
                        <div id="verification">
                            <div id="form" [formGroup]="otpForm">
                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="otp1"/>
                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="otp2"/>
                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="otp3"/>
                                <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" formControlName="otp4"/>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-embossed" (click)="onVerify()">Verify</button>
                            </div>
                        </div>
                        
                        <div class="col_full nobottommargin marginB10">
                            <p class="fs14">Did not receive e-mail? Please wait for a couple of minutes and refresh your
                                inbox before clicking <a
                                    href="javascript:void(0)">here.</a>
                            </p>
                        </div>
                        <div class="col_full nobottommargin marginB10">
                            <p class="term_link">By verifying, you agree to our
                                <a href="https://devtest.flinnt.com/app/static/terms/" target="_blank">Terms and
                                    Conditions</a>
                            </p>
                            <p>
                                For help call 0-79-4014-9800
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>

                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="footer404">
            <app-footer404></app-footer404>
        </div>
        <div id="gotoTop" class="fa fa-angle-up"></div>
    </div>
</body>