<div class="row center">
    <h4>select a medium of study</h4>
  </div>
  <div class="row">
    <div class="col-md-3 mt-2 mb-2" *ngFor="let m of medium" (click)="onSelectActionType($event)">
      <div class="card bg-light w-20">
        <div class="card-body cofigure_s1_option">
          <div class="cofigure_s1_option-itminf">
            <div class="cofigure_s1_option-title">
              {{m.mediumName}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-2">
    <button class="btn btn-primary mr-5" (click)="onShowPreviousStep($event)" type="button">Previous</button>
  <button class="btn btn-primary" (click)="onShowNextStep($event)" [disabled]="!activatedBtn" type="button">Next</button>
  </div>