<div class="content-wrap">
    <div class="container clearfix text-center">
        <div id="backdropbox" class="col_full col_last">
            <h1 class="v4">Add Parent</h1>
            <div class="col_full nobottommargin">
                <h4>
                    Add or import the parent's information to create their user account. These accounts
                    can later be linked with the respective student's accounts.
                </h4>
            </div>
            <div class="text-center">
                <a routerLink="add-parent">
                    <button type="button" class="btn btn-primary btn-embossed m-2">Add new &nbsp;<i class="fa fa-plus"
                            aria-hidden="true"></i></button>
                </a>
                <a routerLink="import-parent">
                    <button type="button" class="btn btn-primary btn-embossed">Import &nbsp;<i class="fa fa-download"
                            aria-hidden="true"></i></button>
                </a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>