<div id="page-title">
  <h2 class="v4">Add divisions and map with relevant standards</h2>
</div>
<form name="divisionForm" id="divisionForm" class="nobottommargin" autocomplete="off" [formGroup]="divisionForm"
  (ngSubmit)="onAddDivisonSubmit()">
  <div class="form-group">
    <div class="row center">
      <h4 class="mt-3">
        You are adding divisions for the Gujarat Secondary and Higher Secondary Education Board and Gujarat medium.
      </h4>
    </div>
    <div class="row col-12">
      <div class="col-md-6 mt-2 mb-2">
        <label>Standard Name</label>
        <select class="form-select" aria-label="Standard Name" formControlName="instituteGroupId"
        [ngClass]="divisionForm.get('instituteGroupId')?.invalid && formSubmitted ? 'error' : ''">
          <option *ngFor="let s of instituteGroups" value="{{s.instituteGroupId}}">
            {{s.standardViewModel.standardName}}</option>
        </select>
        <label *ngIf="divisionForm.get('instituteGroupId')?.invalid && formSubmitted" class="error"> This field is required.</label>
      </div>
      <div class="col-md-6 mt-2 mb-2">
        <label>Divisions</label>
        <textarea class="form-control" id="FormControlTextarea1" rows="3" style="max-height: 85px;"
          formControlName="divisionName"
          [ngClass]="divisionForm.get('divisionName')?.invalid && formSubmitted ? 'error' : ''"></textarea>
          <label *ngIf="divisionForm.get('divisionName')?.invalid && formSubmitted" class="error"> This field is required.</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-primary mb-2 mt-2" type="submit">Add</button>
  </div>
</form>
<div class="form-group">
  <div class="row col-12">
    <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Standard</th>
          <th scope="col">Division</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of divisions">
          <th scope="row">{{ d.displayOrder }}</th>
          <td>{{ d.standardViewModel.standardName }}</td>
          <td>{{ d.divisionName }}</td>
          <td>
            <a href="javascript:void(0)" class="red">delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>