<div class="content-wrap">
    <div class="container clearfix">
        <div id="backdropbox" class="col_full col_last">
            <h1 class="v4 text-center">Import Parent Data</h1>
            <div class="col_full nobottommargin text-center">
                <h4>Fields marked with * are mandatory</h4>
            </div>
            <div class="clear"></div>

            <!-- header info -->
            <div class="row">
                <div class="col_full nobottommargin">
                  <div class="card">
                    <div class="card-body">
                        <div class="col_half nobottommargin">
                            <h6>
                                <span class="valid_mark">Valid</span> All details are OK
                            </h6>
                            <h6>
                                <a href="javascript:void(0)">See error</a> Click to see list of errors
                            </h6>
                            <h6>
                                &lt;&lt;no-data&gt;&gt; The information is not available in excel file
                            </h6>
                        </div>
                        <div class="col_half nobottommargin">
                            <h6>
                                <span class="invalid_mark">Invalid</span> One of more details are incorrect
                            </h6>
                            <h6>
                                <i class="fa fa-user-plus blue"
                                    aria-hidden="true"></i>&nbsp; User account already exists
                            </h6>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
           
            <div class="clear"></div>

            <div class="row mt-3 mb-3">
                <div class="col_full nobottommargin">
                    <div class="card txt_warning--yellow">
                      <div class="card-body">
                            <label style="color: red;">
                                One or more parent details are invalid. Please rectify the errors and re-upload the file
                            </label>
                            <span style="float: right; padding: absolute;">
                                <i class="fa fa-exclamation-triangle fa-lg" aria-hidden="true"></i>
                            </span>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col_full nobottommargin">
                    <table class="table table-borderless">
                        <tr>
                            <th>
                                Parent 1 - First Name
                            </th>
                            <th>
                                Parent 1 - Last Name
                            </th>
                            <th>
                                Parent 2 - First Name
                            </th>
                            <th>
                                Parent 2 - Last Name
                            </th>
                            <th>
                                Primary Email Address
                            </th>
                            <th>
                                Contact Number
                            </th>
                            <th>
                                Address
                            </th>
                            <th>
                                Status
                            </th>
                        </tr>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--blue">Father</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--blue">Mother</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">Line 1</span>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rakesh
                                </td>
                                <td>
                                    Sharma
                                </td>
                                <td>
                                    Rekha
                                </td>
                                <td>
                                    Sharma
                                </td>
                                <td>
                                    rakesh.sharm@gmail.com
                                </td>
                                <td>
                                    1234567890
                                </td>
                                <td>
                                    3. Madhuban Indl Estate. off Mahakali Caves Road
                                </td>
                                <td rowspan="7">
                                    <span class="valid_mark">Valid</span>&nbsp; <i class="fa fa-user-plus blue" aria-hidden="true"></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 1 - Email</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 2 - Email</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    rakesh.sharma@gmail.com
                                </td>
                                <td colspan="2">
                                    rakesh.sharma@gmail.com
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 1 - Mobile No</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 2 - Mobile No</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">City / State / Country</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td colspan="2">
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    Ahmedabad \ Gujarat \ India
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <span class="th_shadow--gray">Single Parent</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">Pincode</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    NO
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    390001
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <hr>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--blue">Father</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--blue">Mother</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Monika
                                </td>
                                <td>
                                    Shah
                                </td>
                                <td>
                                </td>
                                <td>
                                </td>
                                <td>
                                    monika.shah@gmail.com
                                </td>
                                <td>
                                    1234567890
                                </td>
                                <td>
                                    204-206, 3rd Eye Vision, Opp. Shivalik Plaza
                                </td>
                                <td rowspan="7">
                                    <span class="valid_mark">Valid</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 1 - Email</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 2 - Email</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">Line 2</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    Monika.shah@gmail.com
                                </td>
                                <td colspan="2">
                                    N/A
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    Ambawadi., near AMA
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 1 - Mobile No</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 2 - Mobile No</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">City / State / Country</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    1234567899
                                </td>
                                <td colspan="2">
                                    N/A
                                </td>
                                <td>
                                    Ahmedabad \ &lt;&lt;nodata&gt;&gt; \ India
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <span class="th_shadow--gray">Single Parent</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">Pincode</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    NO
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    390001
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <hr>
                                </td>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--blue">&lt;&lt;nodata&gt;&gt;</span>
                                </td >
                                <td colspan="2">
                                    <span class="th_shadow--blue">&lt;&lt;nodata&gt;&gt;</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">Line 1</span>
                                </td>
                                <td>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span class="th_text--red">&lt;&lt;nodata&gt;&gt;</span>
                                </td>
                                <td>
                                    <span class="th_text--red">&lt;&lt;nodata&gt;&gt;</span>
                                </td>
                                <td>
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td>
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td>
                                    <span class="th_text--red">maulik.gupta@gmail.com</span>
                                </td>
                                <td>
                                    <span class="th_text--red">12345</span>
                                </td>
                                <td>
                                    B - 202/203, Shilp Aaron Sindhu bhavan road
                                </td>
                                <td rowspan="7">
                                    <span class="invalid_mark">Invalid</span> &nbsp; <a href="javascript:void(0)" (click)="open(mymodal)">See error</a>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 1 - Email</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 2 - Email</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    Line 2
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td colspan="2">
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    opp. Armieda, Bodakdev
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 1 - Mobile No</span>
                                </td>
                                <td colspan="2">
                                    <span class="th_shadow--gray">Parent 2 - Mobile No</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">City / State / Country</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td colspan="2">
                                    &lt;&lt;nodata&gt;&gt;
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    &lt;&lt;nodata&gt;&gt; \ &lt;&lt;nodata&gt;&gt; \ &lt;&lt;nodata&gt;&gt;
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    <span class="th_shadow--gray">Single Parent</span>
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    <span class="th_shadow--gray">Pincode</span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4">
                                    NO
                                </td>
                                <td colspan="2">
                                </td>
                                <td>
                                    390001
                                </td>
                            </tr>
                            <tr>
                                <td colspan="8">
                                    <hr>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col_full nobottommargin text-center">
                <a routerLink="add-parent">
                    <button type="button" class="btn btn-danger btn-embossed m-2">Re-upload &nbsp;<i class="fa fa-refresh"
                            aria-hidden="true"></i></button>
                </a>
            </div>
            <div class="col_full nobottommargin text-center">
                <a routerLink="add-parent">
                    <button type="button" class="btn btn-primary btn-embossed m-2">Import &nbsp;<i class="fa fa-user-plus"
                            aria-hidden="true"></i></button>
                </a>
            </div>
            <div class="clear"></div>
            <div class="col_full nobottommargin text-center">
                <h6>
                    By importing parens, you agree to our <a href="javascript:void(0)">terms & conditions</a>
                </h6>
            </div>
        </div>
    </div>

    <ng-template #mymodal let-modal>
        <div class="modal-header">
            <label class="modal-title" id="modal-basic-title">Error Report</label>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <label>
                        Parent 1 - First Name could not be empty.
                    </label>
                </div>
                <div class="col-md-12">
                    <label>
                        Parent 1 - Last Name could not be empty.
                    </label>
                </div>
                <div class="col-md-12">
                    <label>
                        Parent 1 - Father/Mother could not empty and it must be M (for Mother) and F (for Father)
                    </label>
                </div>
                <div class="col-md-12">
                    <label>
                        Primary email address could not be blank
                    </label>
                </div>
                <div class="col-md-12">
                    <label>
                        The mobile no. must contain 10 digits.
                    </label>
                </div>
                <div class="col-md-12">
                    <label>
                        A Parent account already exists with the provided Primary email address.
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="modal.close('Save click')">Ok</button>
        </div>
    </ng-template>