<div class="stretched">
  <div id="wrapper" class="clearfix">
    <div id="header" class="header2">
      <app-header [roleId]="roleId" [userObj]="institue"></app-header>
    </div>
    <div id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <div #stepper1 class="bs-stepper vertical linear">
            <div class="bs-stepper-header">
              <div class="step active">
                <button type="button" class="step-trigger">
                  <span class="bs-stepper-circle">1</span>
                  <span class="bs-stepper-label"></span>
                </button>
              </div>
              <div class="bs-stepper-line"></div>
              <div class="step">
                <button type="button" class="step-trigger" disabled="disabled">
                  <span class="bs-stepper-circle">2</span>
                  <span class="bs-stepper-label"></span>
                </button>
              </div>
              <div class="bs-stepper-line"></div>
              <div class="step">
                <button type="button" class="step-trigger" disabled="disabled">
                  <span class="bs-stepper-circle">3</span>
                  <span class="bs-stepper-label"></span>
                </button>
              </div>
            </div>
            <div class="bs-stepper-content">
              <form>
                <div id="test-vl-1" class="bs-stepper-pane fade active">
                  <div id="page-title">
                    <div class="container clearfix">
                      <h2 class="v4">Select an option which describes you best</h2>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                School (K-12)
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Coaching Institue
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Collage
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Co-Curricular
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary" (click)="showNextStep($event)" type="button">Next</button>
                </div>
                <div id="test-vl-2" class="bs-stepper-pane d-none">
                  <div id="page-title">
                    <div class="container clearfix">
                      <h2 class="v4">How would you like to organize your courses and students?</h2>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Standard only
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Standard > Division
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-primary mr-5" (click)="showPreviousStep($event)" type="button">Previous</button>
                  <button class="btn btn-primary" (click)="showNextStep($event)" type="button">Next</button>
                </div>
                <div id="test-vl-3" class="bs-stepper-pane d-none">
                  <div id="page-title">
                    <div class="container clearfix">
                      <h2 class="v4">Select your affiliated education board</h2>
                    </div>
                  </div>
                  <div class="form-group">

                    <div class="row">
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Gujarat Secondary and Higher Secondary Education Board (GSEB)
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Central Board of Secondary Education (CBSE)
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Council for the Indian School Certificate Examination (CISCE)
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                International Baccalaureate (IB)
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3 mt-2 mb-2">
                        <div class="card bg-light w-20">
                          <div class="card-body cofigure_s1_option">
                            <div class="cofigure_s1_option-itminf">
                              <div class="cofigure_s1_option-title">
                                Combridge International Examination
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                  <button class="btn btn-primary mr-5" (click)="showPreviousStep($event)" type="button">Previous</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="footer404">
      <app-footer404></app-footer404>
    </div>
    <div id="gotoTop" class="fa fa-angle-up"></div>
  </div>
</div>