<div id="twitter-panel">

    <div class="container clearfix">

        <div class="footer_app">
            <a target="_blank" href="http://www.flinnt.com/apple"><img
                    src="./assets/templates/images/appstore-icon.png" alt="Download on the AppStore"></a>
            <a target="_blank" href="http://www.flinnt.com/google"><img
                    src="./assets/templates/images/googleplay-icon.png" alt="GET IT ON Google play"></a>
        </div>

        <div class="socialmedia">
            <a href="https://www.facebook.com/MyFlinnt" target="_blank" class="fbicon"><i
                    class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="http://twitter.com/Flinnts" target="_blank" class="twitter-icon"><i
                    class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href="https://plus.google.com/+Flinnt/" target="_blank" class="google-icon"><i
                    class="fa fa-google-plus" aria-hidden="true"></i></a>
            <a href="https://www.linkedin.com/company/flinnt" target="_blank" class="linkdin-icon"><i
                    class="fa fa-linkedin" aria-hidden="true"></i></a>
        </div>
    </div>
</div>

<div id="footer" class="footer-dark">
    <div class="container clearfix">
        <div class="footer-widgets-wrap clearfix">
            <div class="col_half">
                <div class="widget portfolio-widget clearfix">
                    <div class="col_full nomargin">
                        <h4 class="widget-title">About flinnt</h4>
                    </div>

                </div>
                <p style="text-align: justify">Flinnt is India's most exciting learning app for K-10
                    students. On Flinnt, students can learn from free and paid courses mapped to CBSE,
                    NCERT, NSO, IMO, IEO, ASSET, and other Olympiads.</p>
                <p style="text-align: justify">What keeps student excited in learning is our communication
                    channel in each course which shows the connection between the real world &amp; the
                    subject topics being learned at School on an everyday basis. </p>
                <p style="text-align: justify">These courses are helpful for strengthening the subject
                    concepts as well as mastering exam preparation. The study material provided in these
                    courses consist of online videos, quizzes, MCQ, test series, worksheets, notes, online
                    links &amp; images.</p>
                <p style="text-align: justify">Flinnt is also used by Schools, Colleges, and Kindergartens
                    for communication and sharing of learning resources.</p>
                <div class="contact-email">
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-whatsapp"></i>09978-993402</li>
                        <li><i class="fa fa-li fa-envelope-o"></i><a
                                href="mailto:hello@flinnt.com">hello@flinnt.com</a></li>
                    </ul>

                </div>
            </div>

            <div class="col_one_fourth">

                <div id="linkcat-2" class="widget widget_links clearfix">
                    <h4 class="widget-title">Links</h4>
                    <ul class="xoxo blogroll">
                        <li><a href="https://www.flinnt.com/app/static/privacy/">Privacy Policy</a></li>
                        <li><a href="https://www.flinnt.com/app/static/terms/">Terms of Service</a></li>
                        <li><a href="https://www.flinnt.com/app/static/cancellation/">Cancellations and
                                Returns</a></li>
                        <li><a href="https://www.flinnt.com/app/static/shipping/"
                                class="noleftmargin">Shipping Policy</a></li>
                        <li><a href="http://blog.flinnt.com" target="_blank">Blog</a></li>
                        <li><a href="https://www.flinnt.com/app/static/about_us/">About Us</a></li>
                        <li><a href="https://www.flinnt.com/app/contact/">Contact Us</a></li>
                    </ul>
                </div>
                <div class="site-seals">
                    <span id="siteseal">
                        <script type="text/javascript"> //<![CDATA[
                            var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.trust-provider.com/" : "http://www.trustlogo.com/");
                            document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
        //]]></script>
                        <script src="https://secure.trust-provider.com/trustlogo/javascript/trustlogo.js"
                            type="text/javascript"></script>
                        <script language="JavaScript" type="text/javascript">
                            TrustLogo("https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png", "POSDV", "none");
                        </script><a
                            href="javascript:if(window.open('https://secure.trust-provider.com/ttb_searcher/trustlogo?v_querytype=W&amp;v_shortname=POSDV&amp;v_search=https://www.flinnt.com/app/login/&amp;x=6&amp;y=5','tl_wnd_credentials'+(new Date()).getTime(),'toolbar=0,scrollbars=1,location=1,status=1,menubar=1,resizable=1,width=374,height=660,left=60,top=120')){};tLlB(tLTB);"
                            onmouseover="tLeB(event,'https://secure.trust-provider.com/ttb_searcher/trustlogo?v_querytype=C&amp;v_shortname=POSDV&amp;v_search=https://www.flinnt.com/app/login/&amp;x=6&amp;y=5','tl_popupPOSDV')"
                            onmousemove="tLXB(event)" onmouseout="tLTC('tl_popupPOSDV')"
                            ondragstart="return false;"><img
                                src="https://www.positivessl.com/images/seals/positivessl_trust_seal_sm_124x32.png"
                                border="0"
                                onmousedown="return tLKB(event,'https://secure.trust-provider.com/ttb_searcher/trustlogo?v_querytype=W&amp;v_shortname=POSDV&amp;v_search=https://www.flinnt.com/app/login/&amp;x=6&amp;y=5');"
                                oncontextmenu="return tLLB(event);"></a>
                        <!---->
                        <div id="tl_popupPOSDV" name="tl_popupPOSDV"
                            style="position:absolute;z-index:0;visibility: hidden;background-color: transparent;overflow:hidden;"
                            onmouseover="tLoB('tl_popupPOSDV')" onmousemove="tLpC('tl_popupPOSDV')"
                            onmouseout="tLpB('tl_popupPOSDV')">&nbsp;</div>
                    </span>
                </div>
            </div>


            <div class="col_one_fourth col_last">
                <div class="widget clearfix">
                    <h4 class="widget-title">Quick Contact</h4>
                    <div id="quick-contact-form-result"></div>
                    <form class="quick-contact-form nobottommargin" method="post"
                        action="https://www.flinnt.com/app/contact/" name="quick-contact-form"
                        id="quick-contact-form" novalidate="novalidate">
                        <input type="text" placeholder="Full Name" value="" name="quick-contact-form-name"
                            id="quick-contact-form-name" class="required input-block-level">
                        <input type="text" placeholder="Email Address" value=""
                            name="quick-contact-form-email" id="quick-contact-form-email"
                            class="required email input-block-level">
                        <input type="text" placeholder="Mobile No." value=""
                            name="quick-contact-form-mobile" id="quick-contact-form-mobile"
                            class="required input-block-level">
                        <textarea placeholder="Message" cols="10" rows="30"
                            name="quick-contact-form-message" id="quick-contact-form-message"
                            class="required input-block-level short-textarea"></textarea>
                        <button value="submit" class="btn btn-default btn-sm nomargin"
                            name="quick-contact-form-submit" id="quick-contact-form-submit"
                            type="submit">Send Email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clear"></div>
<div id="copyrights" class="copyrights-dark">
    <div class="container clearfix">
        <div class="col_full"> Copyrights © 2022 &amp; All Rights Reserved by Concepts iconnect Pvt. Ltd.
        </div>
        <!--  -->
    </div>
</div>