<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Search Parent</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    <form name="searchParentForm" id="searchParentForm" class="nobottommargin" autocomplete="off"
        [formGroup]="searchParentForm" (ngSubmit)="onSearch()">
        <h1 class="v4 text-center">Search Parent</h1>
        <div class="col_full nobottommargin text-center">
            <h4>Fill in one or more criteria and click on the search button to see a list of parents. You can
                select
                only one parent account </h4>
        </div>
        <div class="col_full nobottommargin text-center">
            <h4>Fields marked with * are mandatory</h4>
        </div>
        <div class="clear"></div>
        <div class="col_full nobottommargin">
            <div class="col_half nobottommargin">
                <div class="form-group">
                    <label>First Name</label>
                    <input type="text" name="first_name_1" autofocus="true" id="first_name_1" value=""
                        formControlName="firstName" class="input-block-level" placeholder="First Name"
                        autocomplete="on" />
                </div>
            </div>
            <div class="col_half nobottommargin">
                <div class="form-group">
                    <label>Last Name</label>
                    <input type="text" name="last_name_1" autofocus="true" id="last_name_1" value=""
                        formControlName="lastName" class="input-block-level" placeholder="Last name"
                        autocomplete="on" />
                </div>
            </div>
        </div>
        <div class="col_full nobottommargin">
            <div class="col_half nobottommargin">
                <div class="form-group">
                    <label>Single Parent</label>
                    <select class="form-select" aria-label="Single Parent" formControlName="singleParent">
                        <option value="">Doesn't matter</option>
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                </div>
            </div>
            <div class="col_half nobottommargin">
                <div class="form-group">
                    <label>Search name for Father/Mother</label>
                    <select class="form-select" aria-label="Search Name" formControlName="relationship">
                        <option value="">Mother and Father Both</option>
                        <option value="Father">Father</option>
                        <option value="Mother">Mother</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col_full nobottommargin">
            <div class="col_half nobottommargin">
                <div class="form-group">
                    <label>Email Address</label>
                    <input type="text" name="email_Addr_1" autofocus="true" id="email_Addr_1" value=""
                        formControlName="emailId" class="input-block-level" placeholder="Email Address"
                        autocomplete="on" />
                </div>
            </div>
            <div class="col_half nobottommargin">
                <div class="form-group">
                    <label>Contact Number</label>
                    <input type="text" name="mobile_no_1" autofocus="true" id="mobile_no_1" value=""
                        formControlName="mobileNo" maxlength="10" class="input-block-level" placeholder="Mobile Number"
                        autocomplete="on" />
                </div>
            </div>
        </div>

        <br />
        <div class="clear"></div>

        <div class="col_full nobottommargin text-center">
            <div class="col_half nobottommargin">
                <button type="button" class="btn btn-primary btn-embossed m-2" (click)="onClearSearch()">Clear Search &nbsp;<i class="fa fa-times"
                        aria-hidden="true"></i></button>
            </div>
            <div class="col_half nobottommargin">
                <button type="submit" class="btn btn-primary btn-embossed m-2">Search &nbsp;<i class="fa fa-circle"
                        aria-hidden="true"></i></button>
            </div>
        </div>
    </form>

    <div class="form-group">
        <div class="row col-12">
            <table class="table" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                <thead>
                    <tr>
                        <th scope="col">Parent 1 - First Name</th>
                        <th scope="col">Parent 1 - Last Name</th>
                        <th scope="col">Parent 2 - First Name</th>
                        <th scope="col">Parent 2 - Last Name</th>
                        <th scope="col">Primary Email Address</th>
                        <th scope="col">Contact Number</th>
                        <th scope="col">Address</th>
                    </tr>
                </thead>

                <tbody class="table_body">
                    <ng-container *ngFor="let p of parentList">
                        <tr (click)="onAccountRowSelect(p);">
                            <td colspan="2">
                                <span class="th_shadow--blue">Father</span>
                            </td>
                            <td colspan="2">
                                <span class="th_shadow--blue">Mother</span>
                            </td>
                            <td>
                            </td>
                            <td>
                            </td>
                            <td>
                                <span class="th_shadow--gray">City \ State \ County</span>
                            </td>
                        </tr>
                        <tr (click)="onAccountRowSelect(p);">
                            <td>
                                {{p.parent1FirstName}}
                            </td>
                            <td>
                                {{p.parent1LastName}}
                            </td>
                            <td>
                                {{p.parent2FirstName}}
                            </td>
                            <td>
                                {{p.parent2LastName}}
                            </td>
                            <td>
                                {{p.primaryEmailId}}
                            </td>
                            <td>
                                {{p.primaryMobileNo}}
                            </td>
                            <td>
                                &nbsp;{{p.cityName}}&nbsp;\&nbsp;{{p.stateName}}&nbsp;\&nbsp;{{p.countryName}}&nbsp;
                            </td>
                        </tr>
                        <tr (click)="onAccountRowSelect(p);">
                            <td rowspan="2"></td>
                            <td colspan="3" class="th_shadow--gray">
                                Single Parent
                            </td>
                            <td colspan="3">
                            </td>
                        </tr>
                        <tr (click)="onAccountRowSelect(p);">
                            <td colspan="3">{{getSingleParent(p)}}</td>
                            <td colspan="3"></td>
                        </tr>
                        <br />
                        <hr />
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
</div>