::ng-deep .my-class .modal-dialog { 
    max-width: 80%;
    width: 80%;
}

.th_shadow--blue{
    color: blue;
    background-color: lightblue;
}

.th_shadow--gray{
    background-color: lightgray;
}

.table_body{
    cursor: pointer;
}

table.table td{
    border: none !important;
}