<div class="stretched">
    <div id="wrapper" class="clearfix">
        <div id="top-bar" style="height: 0">
        </div>
        <div id="header" class="header2">
            <app-header></app-header>
        </div>
        <div id="content">
            <div id="page-title">
                <div class="container clearfix">

                    <h2 class="v4">Sign up for Flinnt</h2>

                    <div id="signup-login">
                        <span class="login">Have an account? <a
                                href="https://devtest.flinnt.com/app/login/">Login</a></span>
                        <span class="login-mobile textalignright"><a class="btn btn-info btn-sm"
                                href="https://devtest.flinnt.com/app/login/">Login</a></span>
                    </div>

                </div>
            </div>

            <div class="content-wrap">
                <div class="container clearfix">
                    <div id="app_sign_up_form">

                        <div id="backdropbox" class="login_form">

                            <form class="nobottommargin" id="fmsignup" name="signupform"
                                action="https://devtest.flinnt.com/app/signup/" method="post">

                                <div class="col_full nobottommargin">
                                    <input type="text" name="first_name" id="first_name" value=""
                                        class="input-block-level" placeholder="First Name" autocomplete="off"
                                        autofocus="true" />
                                </div>
                                <div class="col_full nobottommargin">
                                    <input type="text" name="last_name" id="last_name" value=""
                                        class="input-block-level" placeholder="Last Name" autocomplete="off" />
                                </div>
                                <div class="col_full nobottommargin">
                                    <input type="text" name="email_id" id="email_id" value="" class="input-block-level"
                                        placeholder="Email Or Mobile Number" autocomplete="on" />
                                </div>
                                <div class="col_full nobottommargin">
                                    <input type="password" name="loginpwd" id="loginpwd" class="input-block-level"
                                        placeholder="Password" maxlength="15" autocomplete="off" />
                                </div>
                                <div class="col_full nobottommargin marginB5">
                                    <input type="password" name="verify_password" id="verify_password"
                                        class="input-block-level last" placeholder="Confirm password"
                                        autocomplete="on" />
                                </div>

                                <div class="col_full nobottommargin">
                                    <input type="hidden" name="reg_now" id="reg_now" value="1" />
                                    <button type="submit" class="ladda-button btn btn-info input-block-level"
                                        name="sgpbtn" id="sgnbtn" data-style="slide-left" data-size="s">Sign Up</button>
                                    <br><br>
                                    <div class="clearfix col_full nobottommargin">
                                        <p class="term-link nobottommargin textalign-center">By signing up, you agree to
                                            our
                                            <a href="https://devtest.flinnt.com/app/static/terms/" target="_blank">Terms
                                                and Conditions</a>
                                        </p>
                                        <hr class="marginT10 marginB10">
                                        <p class="dark2 inst-signup notopmargin textalign-center">
                                            <span>Communicate</span> and
                                            <span>Teach</span> Online<br><a
                                                href="https://devtest.flinnt.com/signup/institute/"
                                                class="marginT5 blue">Sign up</a> as an institution or an expert
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer-section">
            <app-footer></app-footer>
        </div>
    </div>
    <div id="gotoTop" class="fa fa-angle-up"></div>
</div>