<div id="page-title">
  <h2 class="v4 mt-3">Select an option which describes you best</h2>
</div>
<div class="form-group" *ngIf="instituteTypes.length > 0">
  <div class="row">
    <div class="col-md-3 mt-2 mb-2" *ngFor="let t of instituteTypes" (click)="onSelectActionType($event)">
      <div class="card bg-light w-20">
        <div class="card-body cofigure_s1_option">
          <div class="cofigure_s1_option-itminf">
            <div class="cofigure_s1_option-title">
              {{t.typeName}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mt-2">
  <button class="btn btn-primary" (click)="onShowNextStep($event)" type="button"
    [disabled]="!activatedBtn">Next</button>
</div>