<div class="stretched" id="institute_signup">
    <div id="wrapper" class="clearfix">
        <div id="top-bar" style="height: 0">
        </div>
        <div id="header" class="header2">
            <app-header></app-header>
        </div>
        <!-- <section class="menu cid-s4Rx55TDRQ" once="menu" id="menu1-5">
            <nav
                class="navbar navbar-expand beta-menu navbar-dropdown align-items-center navbar-fixed-top navbar-toggleable-sm">
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </button>
                <div class="menu-logo">
                    <div class="navbar-brand">
                        <span class="navbar-logo">
                            <a href="https://devtest.flinnt.com/">
                                <img src="./templates/assets/images/flinnt-logo-white-354x121.png" alt="Flinnt" title=""
                                    style="height: 3.8rem;">
                            </a>
                        </span>

                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class="navbar-buttons mbr-section-btn"><a class="btn btn-sm btn-white-outline display-4"
                            href="{template_login_url}">

                            Login</a></div>
                </div>
            </nav>
        </section> -->

        <section class="header10 cid-s4Oa82xUoF mbr-parallax-background" id="header10-4">
            <div class="container">
                <div class="media-container-column mbr-white p-5 align-left col-lg-8 col-md-10 ml-auto">
                    <h1 class="mbr-section-title mbr-bold pb-3 mbr-fonts-style display-2">
                        Get your Educational Institution Online!</h1>

                    <p class="mbr-text pb-3 mbr-fonts-style display-5">
                        Create Courses, Communicate, Teach, Assess, Share Learning Resources, Collect Fees, Generate
                        Report Cards and do more. Empower your Educators!</p>
                    <div class="mbr-section-btn"><a class="btn btn-md btn-success display-4"
                            href="{template_login_url}">Login</a>
                        <a class="btn btn-md btn-white-outline display-4" href="{template_contact_us_url}">Inquiry</a>
                    </div>
                </div>
            </div>

            <div class="mbr-arrow hidden-sm-down" aria-hidden="true">
                <a href="#next">
                    <i class="mbri-down mbr-iconfont"></i>
                </a>
            </div>
        </section>
        <div class="clear"></div>
        <div id="landing-area">
            <div class="container clearfix">
                <div class="fleft intro">
                    <h1 class="line1">COMMUNICATE AND</h1>
                    <h1 class="line2">TEACH ONLINE</h1>
                    <h1 class="line3">Deliver Engaging Learning Experiences</h1>
                </div>
                <div class="nobottommargin" id="signup-institute">
                    <div class="logintitle onlymobile">Sign up</div>
                    <div class="col_full nobottommargin">
                        <form name="instituteSignUpForm" id="instituteSignUpForm" class="nobottommargin"
                            autocomplete="off" [formGroup]="instituteSignUpForm" (ngSubmit)="onSignUpSubmit()">

                            <div class="col_full nobottommargin">
                                <input type="text" name="institute_name" id="institute_name" value=""
                                    class="input-block-level" placeholder="Institute name" autocomplete="on" formControlName="instituteName"
                                    [ngClass]="instituteSignUpForm.get('instituteName')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('instituteName')?.invalid && formSubmitted" class="error">Institute name is required.</label>
                            </div>
                            <div class="col_full nobottommargin">
                                <input type="text" name="first_name" id="first_name" value="" class="input-block-level"
                                    placeholder="First Name" autocomplete="off" autofocus="true" formControlName="firstName"
                                    [ngClass]="instituteSignUpForm.get('firstName')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('firstName')?.invalid && formSubmitted" class="error">First Name is required.</label>
                            </div>
                            <div class="col_full nobottommargin">
                                <input type="text" name="last_name" id="last_name" value="" class="input-block-level"
                                    placeholder="Last Name" autocomplete="off" formControlName="lastName"
                                    [ngClass]="instituteSignUpForm.get('lastName')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('lastName')?.invalid && formSubmitted" class="error">Last Name is required.</label>
                            </div>
                            <div class="col_full nobottommargin">
                                <input type="text" name="mobile" id="mobile" value="" class="input-block-level"
                                    placeholder="Mobile number" autocomplete="on" formControlName="mobileNo"
                                    [ngClass]="instituteSignUpForm.get('mobileNo')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('mobileNo')?.invalid && formSubmitted" class="error">Mobile Number is required.</label>
                            </div>
                            <div class="col_full nobottommargin">
                                <input type="text" name="email_id" id="email_id" value="" class="input-block-level"
                                    placeholder="Email" autocomplete="on" formControlName="emailId"
                                    [ngClass]="instituteSignUpForm.get('emailId')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('emailId')?.invalid && formSubmitted" class="error">Email Id is required.</label>
                            </div>
                            <div class="col_full nobottommargin">
                                <input type="password" name="loginpwd" id="loginpwd" class="input-block-level"
                                    placeholder="Password" maxlength="15" autocomplete="off" formControlName="password"
                                    [ngClass]="instituteSignUpForm.get('password')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('password')?.invalid && formSubmitted" class="error">Password is required.</label>
                            </div>
                            <div class="col_full nobottommargin">
                                <input type="password" name="verify_password" id="verify_password"
                                    class="input-block-level last" placeholder="Confirm password" autocomplete="on" formControlName="confirmPassword"
                                    [ngClass]="instituteSignUpForm.get('confirmPassword')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('confirmPassword')?.invalid && formSubmitted" class="error">Confirm password is required.</label>
                            </div>
                            
                            <div class="col_full nobottommargin">
                                <input type="text" name="public_page_name" id="public_page_name" value=""
                                    class="input-block-level" placeholder="Learning page name" autocomplete="on" formControlName="pageName"
                                    [ngClass]="instituteSignUpForm.get('pageName')?.invalid && formSubmitted ? 'error' : ''"/>
                                    <label *ngIf="instituteSignUpForm.get('pageName')?.invalid && formSubmitted" class="error">Learning page name is required.</label>
                                <p class="tleft dark2 notopmargin marginB15">Learning page name can't be changed once
                                    assigned. <a href="javascript:void(null)" data-target="#pub_page"
                                        data-toggle="modal">What is Learning page name?</a></p>
                                <div aria-hidden="true" aria-labelledby="pubtitle" role="dialog" tabindex="-1"
                                    id="pub_page" class="modal fade" style="display: none">
                                    <div class="modal-dialog" style="z-index: 995!important; padding-top:40px;">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button aria-hidden="true" data-dismiss="modal" class="close"
                                                    type="button">×</button>
                                                <h3 id="pubtitle" class="modal-title nobottompadding">Learning Page</h3>
                                            </div>
                                            <div class="modal-body">
                                                <p class="tleft fs13 dark2">The Learning page name should reflect the
                                                    name of your institution or your brand. Your learning page will have
                                                    the custom url: <span
                                                        class="blue">www.flinnt.com/yourlearningpagename/</span></p>
                                                <p class="tleft fs14 blue marginT20">What is learning page?</p>
                                                <p class="tleft fs13 dark2 marginT5">It is the gateway from where
                                                    learners can discover and join your blended as well as online
                                                    learning courses. It helps you engage with your existing learners
                                                    and connect with prospective learners.</p>

                                                <p class="tleft fs14 blue marginT20">What is displayed on the Page?</p>
                                                <p class="tleft fs13 dark2 marginT5">It gives a summary of the courses,
                                                    number of learners and how active is your digital learning
                                                    community. The page displays your private, public as well as paid
                                                    courses. Obviously the private courses remain private, users cannot
                                                    directly join them from here, they can at the most send you a
                                                    request so that you can vet their request and permit them to join on
                                                    merit.</p>

                                                <p class="tleft fs14 blue marginT20">What can I do with the Flinnt
                                                    Learning Page?</p>
                                                <p class="tleft fs13 dark2 marginT5">You can promote this page to get
                                                    existing and prospective learners to learn with you. Users can
                                                    search for your institution or your courses, showcase the teaching
                                                    learning expertise that you have and enable a large number of
                                                    learners to benefit from it.</p>

                                                <p class="tleft fs14 blue marginT20">Explore how other institutions and
                                                    experts are using Flinnt:</p>
                                                <p class="tleft fs13 dark2 marginT5">School:</p>
                                                <ol class="dark2 tleft">
                                                    <li>Euro Kids Nadiad - <a
                                                            href="https://www.flinnt.com/eurokidsnadiad/"
                                                            target="_blank">https://www.flinnt.com/eurokidsnadiad/</a>
                                                    </li>
                                                    <li>DAV International School - <a
                                                            href="https://www.flinnt.com/davahmedabad/"
                                                            target="_blank">https://www.flinnt.com/davahmedabad/</a>
                                                    </li>
                                                </ol>

                                                <p class="tleft fs13 dark2 marginT5">Institutions of Higher Education:
                                                </p>
                                                <ol class="dark2 tleft">
                                                    <li>Amrapali Institute of Technology and Sciences - <a
                                                            href="https://www.flinnt.com/AGI/"
                                                            target="_blank">https://www.flinnt.com/AGI/</a></li>
                                                    <li>Atmiya Institute of Technology & Science - <a
                                                            href="https://www.flinnt.com/atmiya/"
                                                            target="_blank">https://www.flinnt.com/atmiya/</a></li>
                                                </ol>

                                                <p class="tleft fs13 dark2 marginT5">Training and Coaching Institutions:
                                                </p>
                                                <ol class="dark2 tleft">
                                                    <li>Scope Gujarat - <a href="https://www.flinnt.com/scopegujarat/"
                                                            target="_blank">https://www.flinnt.com/scopegujarat/</a>
                                                    </li>
                                                    <li>Cambridge English India Network - <a
                                                            href="https://www.flinnt.com/cambridgeenglishindianetwork/"
                                                            target="_blank">https://www.flinnt.com/cambridgeenglishindianetwork/</a>
                                                    </li>
                                                    <li>Cambridge English Parents Network - <a
                                                            href="https://www.flinnt.com/cambridgeenglishparentsnetwork/"
                                                            target="_blank">https://www.flinnt.com/cambridgeenglishparentsnetwork/</a>
                                                    </li>
                                                </ol>

                                                <p class="tleft fs13 dark2 marginT5">Preschools:</p>
                                                <ol class="dark2 tleft">
                                                    <li>Tree House - <a
                                                            href="https://www.flinnt.com/treehouseahmedabad/"
                                                            target="_blank">https://www.flinnt.com/treehouseahmedabad/</a>
                                                    </li>
                                                    <li>9 Kids - <a href="https://www.flinnt.com/9kids/"
                                                            target="_blank">https://www.flinnt.com/9kids/</a></li>
                                                    <li>Shanti Juniors South Bopal - <a
                                                            href="https://www.flinnt.com/shantijuniorssouthbopal/"
                                                            target="_blank">https://www.flinnt.com/shantijuniorssouthbopal/</a>
                                                    </li>
                                                    <li>Rajshree Kidzee - <a
                                                            href="https://www.flinnt.com/rajshreekidzee/"
                                                            target="_blank">https://www.flinnt.com/rajshreekidzee/</a>
                                                    </li>
                                                </ol>
                                            </div>
                                            <div class="modal-footer notopmargin">
                                                <button data-dismiss="modal" class="btn btn-default"
                                                    type="button">Close</button>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>
                            </div>
                            <div class="col_full nobottommargin site-home-sign-area">
                                <input type="hidden" name="reg_now" id="reg_now" value="1" />
                                <button type="submit" class="btn btn-success input-block-level" name="sgpbtn"
                                    id="sgnupbtn">Sign Up</button>

                                <p class="term-link">By signing up, you agree to our <a
                                        href="https://devtest.flinnt.com/app/static/professional-id-terms/"
                                        target="_blank">Terms and Conditions</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="content">
            <div class="content-wrap">
                <div class="container clearfix">
                    <div class="col_full center">
                        <h1 style="line-height: 1.6;">WHO CAN <span>USE</span></h1>
                    </div>
                    <div class="col_full">
                        <div class="col_one_third nobottommargin">
                            <div class="signup-contents">
                                <img src="././assets/templates/images/home/home-edu-institute.jpg"
                                    alt="Educational Institution Banner" />
                                <h1>Educational Institution</h1>
                                <div class="col_full tleft">
                                    <ul class=" ">
                                        <li>Communicate with students and parents with control and privacy.</li>
                                        <li>Share learning resources online, save costs and improve productivity. </li>
                                        <li>Reach out to users across the platform for compititions and events.</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <div class="col_one_third nobottommargin">

                            <div class="signup-contents">
                                <img src="././assets/templates/images/home/home-workshop.jpg"
                                    alt="Training and Workshop Banner" />
                                <h1>Training and Workshop</h1>
                                <div class="col_full tleft">
                                    <ul class="">
                                        <li>Create, promote and deliver Workshops, training & Conferences. </li>
                                        <li>Registration of participants, payment collection and engaging delivery.</li>
                                        <li>Stay engaged with the participants before and after the event.</li>
                                    </ul>
                                </div>

                            </div>

                        </div>

                        <div class="col_one_third nobottommargin col_last">

                            <div class="signup-contents">

                                <img src="././assets/templates/images/home/home-subj-expert.jpg" alt="Subject Expert Banner" />
                                <h1>Subject Expert</h1>
                                <div class="col_full tleft">
                                    <ul class="">
                                        <li>Share your knowledge in a systematic and organized manner.</li>
                                        <li>Connect and engage with a large number of users across the platform.</li>
                                        <li>Monetize your expertise by providing paid courses. </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <div class="col_full nobottommargin marginT20">
                        <div class="col_two_third">
                            <h3>Have <span>Questions</span> to ask?</h3>
                            <div id="faqs" class="clearfix">
                                <div class="toggle faq faq-marketplace faq-authors clearfix">
                                    <div class="togglet"><i class="fa fa-question"></i>What is Flinnt?</div>
                                    <div class="togglec clearfix">
                                        Flinnt is an instant communication & sharing platform designed for Educational
                                        Institutions, aiming to make learning exciting & engaging. The high degree of
                                        control along with the academic structure makes Flinnt the preferred choice of
                                        educational institutions. Flinnt is device agnostic and can be accessed through
                                        the website as well as the android and iOS app.
                                    </div>
                                </div>
                                <div class="toggle faq faq-marketplace faq-itemdiscussion clearfix">

                                    <div class="togglet"><i class="fa fa-institution"></i>What kind of educational
                                        institutions use Flinnt?</div>

                                    <div class="togglec clearfix">

                                        A variety of educational institutions; Schools, Colleges, Pre-Schools and
                                        Coaching Institutions are using Flinnt to communicate day to day happenings and
                                        to share learning resources with Learners, Parents and Teachers.

                                    </div>

                                </div>


                                <div class="toggle faq faq-marketplace faq-authors faq-itemdiscussion clearfix">

                                    <div class="togglet"><i class="fa fa-inr"></i>Is Flinnt a Free Platform?</div>

                                    <div class="togglec clearfix">

                                        Flinnt is absolutely free for Educational Institutions, they can create
                                        unlimited number of courses and they can also register unlimited number of
                                        learners, teachers and parents. Needless to say it is free for Learners,
                                        Teachers and Parents as well.

                                    </div>

                                </div>


                                <div class="toggle faq faq-marketplace clearfix">

                                    <div class="togglet"><i class="fa fa-check"></i>Is there a way to try out Flinnt?
                                    </div>

                                    <div class="togglec clearfix">

                                        Create a few courses and register a particular class of learners or a group of
                                        teachers and you are on your way! Once you are comfortable with the platform you
                                        can then add more courses and register all the learners and teachers of your
                                        institution.

                                    </div>
                                </div>
                                <div class="toggle faq faq-marketplace clearfix">

                                    <div class="togglet"><i class="fa fa-info"></i>Where can we find out more about how
                                        Flinnt is being implemented?</div>

                                    <div class="togglec clearfix">

                                        Read it directly from the Horse’s mouth in the institutional <a
                                            href="http://blog.flinnt.com/my-teachers-got-students-to-actively-learn-through-the-app/"
                                            target="_blank">Case Studies</a> or explore our blog.

                                    </div>
                                </div>
                                <div class="toggle faq faq-marketplace faq-itemdiscussion clearfix">

                                    <div class="togglet"><i class="fa fa-file"></i>How to Implement Flinnt at an
                                        Institution level?</div>

                                    <div class="togglec clearfix">

                                        <ul>
                                            <li><strong>Step 1</strong> Sign up as an Institution</li>
                                            <li><strong>Step 2</strong> Create Courses & allocate them to teachers.</li>
                                            <li><strong>Step 3</strong> Teachers to register & Join Courses through Web
                                                or App</li>
                                            <li><strong>Step 4</strong> Teachers to start communicating & sharing: App
                                                Posting or Web Posting</li>
                                            <li><strong>Step 5</strong> Learners & Parents Join Courses through Web or
                                                App</li>
                                        </ul>

                                    </div>

                                </div>

                                <div class="toggle faq faq-marketplace clearfix">

                                    <div class="togglet"><i class="fa fa-lock"></i>What controls are available to
                                        Institutions and Educators on Flinnt?</div>

                                    <div class="togglec clearfix">

                                        Posting rights are allocated to the institution Admin and the Teacher leading
                                        the Course. Learners can be removed, transferred to another course or even
                                        switched to a read only mode. Teachers have full rights to control who can
                                        comment and who can’t, they can even delete any inappropriate comments made by
                                        any user on their course.

                                    </div>

                                </div>

                                <div class="toggle faq faq-marketplace clearfix">

                                    <div class="togglet"><i class="fa fa-gift"></i>Any other benefits to the
                                        Institution?</div>

                                    <div class="togglec clearfix">

                                        Other than bringing down the cost of communication and also making it seamless
                                        and standardized, Flinnt ensures that a record of the academic resources that
                                        are shared in a subject and all the interactions between the teacher and the
                                        learners in retained by the institution. When a Teacher leaves a course, all the
                                        past records can be accessed by the incoming teacher, this ensures that a
                                        continuity can be ensured.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col_one_third col_last">
                            <div style="position: relative;">

                                <h4>What our <span>Institutions</span> say:</h4>

                                <div class="testimonial-scroller" data-prev="#landing-testimonial-2-prev"
                                    data-next="#landing-testimonial-2-next">


                                    <div class="testimonials" id="widget-testimonial-2">

                                        <div class="testimonial-item">

                                            <div class="testi-content">I can see that going forward the Indian preschool
                                                segment’s primary clients will be working parents and they don’t have
                                                time to comedown to the school and see their kids’ growth. Flinnt makes
                                                it possible for us to provide them with what is needed in no time.</div>

                                            <div class="testi-author">Ms. Chhaya Shroff, Principal, Euro Kids –
                                                Satellite<span><a
                                                        href="http://blog.flinnt.com/euro-kids-preschool-communicates-on-app/"
                                                        target="_blank">Blog</a></span></div>

                                        </div>

                                        <div class="testimonial-item">

                                            <div class="testi-content">Flinnt is truly a “WhatsApp” for Educational
                                                purpose</div>

                                            <div class="testi-author">Mrs. Renu Seth, Principal, H. B. Kapadia Primary
                                                School<span><a
                                                        href="http://blog.flinnt.com/technology-integration-h-b-kapadia-new-high-school/"
                                                        target="_blank">Blog</a></span></div>

                                        </div>

                                        <div class="testimonial-item">

                                            <div class="testi-content">I still remember our first message shared on
                                                Flinnt was “Happy Holidays” and we had a “1000 likes in the first hour.”
                                                Most of the comments read that they were proud to be associated with New
                                                Era as it always keeps pace with the new trends and this time being
                                                technology.</div>

                                            <div class="testi-author">Ms. Pradnya Gokhale, Vice Principal, New Era
                                                Senior Secondary School<span><a
                                                        href="http://blog.flinnt.com/my-teachers-got-students-to-actively-learn-through-the-app/"
                                                        target="_blank">Blog</a></span></div>

                                        </div>

                                        <div class="testimonial-item">

                                            <div class="testi-content">I could not resist the implementation and easiest
                                                job was convincing my management as the annual cost was only Rs.
                                                15,000/- but all my experiments with technology had made my teachers
                                                wary about my intentions. Their initial apprehension turned into
                                                enthusiastic welcome in a very short period of time because Flinnt is a
                                                mobile first platform.</div>

                                            <div class="testi-author">Ms. Jayasree Panthalinkal, Vice Principal, ASIA
                                                English School<span><a
                                                        href="http://blog.flinnt.com/can-technology-engage-learners-yes-we-are-experiencing-it-through-flinnt-2/"
                                                        target="_blank">Blog</a></span></div>

                                        </div>
                                    </div>
                                </div>
                                <div id="landing-testimonial-2-prev" class="widget-scroll-prev"></div>
                                <div id="landing-testimonial-2-next" class="widget-scroll-next"></div>
                            </div>
                        </div>

                        <div class="col_one_third col_last">


                            <div style="position: relative;">

                                <h4>What our <span>Teachers</span> say:</h4>

                                <div class="testimonial-scroller" data-prev="#landing-testimonial-3-prev"
                                    data-next="#landing-testimonial-3-next">


                                    <div class="testimonials" id="widget-testimonial-3">

                                        <div class="testimonial-item">

                                            <div class="testi-content">As soon as I see an article I immediately google
                                                it, copy the link and schedule a post. I sent the link to my learners,
                                                it caught their attention and they started discussing what was Ebola and
                                                how it was spreading</div>

                                            <div class="testi-author">Riddhi Agarwal, Anandniketan International
                                                School<span><a
                                                        href="http://blog.flinnt.com/ebola-to-the-rescue-of-6th-graders/"
                                                        target="_blank">Blog</a></span></div>

                                        </div>

                                        <div class="testimonial-item">

                                            <div class="testi-content">So although we felt that Flinnt would prove to be
                                                of great help in improving student learning, the bigger impact has been
                                                more updated and well informed teachers.</div>

                                            <div class="testi-author">Satish Patel, P. P. Savani Cambridge International
                                                School<span><a
                                                        href="http://blog.flinnt.com/empowering-educators-at-pp-savani-cambridge-international-school/"
                                                        target="_blank">Blog</a></span></div>

                                        </div>

                                        <div class="testimonial-item">

                                            <div class="testi-content">One more surprising thing happened, a learner who
                                                never used to participate also started participating on Flinnt either
                                                because he was feeling shy speaking his mind in the class or because
                                                cricket interests him.</div>

                                            <div class="testi-author">Bharat Nadar, H. B. Kapadia Primary School<span><a
                                                        href="http://blog.flinnt.com/hbk-school-flinnts-over-social-media/"
                                                        target="_blank">Blog</a></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div id="landing-testimonial-3-prev" class="widget-scroll-prev"></div>
                                <div id="landing-testimonial-3-next" class="widget-scroll-next"></div>
                            </div>
                        </div>

                        <div class="clear"></div>
                        <div style="position: relative;">

                            <h4><span>Featured</span> In</h4>

                            <ul id="clients-scroller" class="our-clients clearfix">

                                <li><a href="http://www.ahmedabadmirror.com/ahmedabad/cover-story/Your-childs-class-work-on-your-cell/articleshow/40376289.cms"
                                        target="_blank"><img
                                            src="./assets/templates/images/home/news/news_ahmedabad_mirror.png"
                                            alt="Ahmedabad Mirror" /></a></li>
                                <li><a href="http://www.ndtv.com/video/player/the-contrarian-truth-tech-lies/are-virtual-mentors-any-good/371652?site=full"
                                        target="_blank"><img src="././assets/templates/images/home/news/news_ndtv.png"
                                            alt="NDTV" /></a></li>
                                <li><a href="http://www.financialexpress.com/article/industry/jobs/leveraging-technological-advancements-in-the-online-education-space/84701/"
                                        target="_blank"><img
                                            src="././assets/templates/images/home/news/news_financial_express.png"
                                            alt="The Financial Express" /></a></li>
                                <li><a href="http://www.thehindubusinessline.com/features/smartbuy/tech-news/mobile-app-flinnt-becomes-learning-platform-for-school-kids/article7350064.ece"
                                        target="_blank"><img
                                            src="././assets/templates/images/home/news/news_the_hindu_business_line.png"
                                            alt="The Hindu Business Line" /></a></li>
                                <li><a href="http://yourstory.com/2014/12/flinnt-edtech-ahmedabad/" target="_blank"><img
                                            src="././assets/templates/images/home/news/news_yourstory.png" alt="YourStory" /></a>
                                </li>
                                <li><a href="http://www.iamwire.com/2015/02/flinnt-app-web-based-platform-create-engagement-teachers-students/109157"
                                        target="_blank"><img src="././assets/templates/images/home/news/news_iamwire.png"
                                            alt="iamwire" /></a></li>
                                <li><a href="http://www.educationworld.in/teacher-resources/cloud-based-technology-platforms-for-teachers.html"
                                        target="_blank"><img src="././assets/templates/images/home/news/news_education_world.png"
                                            alt="Education Times" /></a></li>
                                <li><a href="http://edtechreview.in/trends-insights/insights/1652-preschool-parents-great-intentions-poor-outcomes"
                                        target="_blank"><img src="././assets/templates/images/home/news/news_edtech_review.png"
                                            alt="EdTech Review" /></a></li>
                                <li><a href="https://www.edsurge.com/flinnt-product" target="_blank"><img
                                            src="././assets/templates/images/home/news/news_edsurge.png" alt="EdSurge" /></a>
                                </li>
                                <li><a href="http://dnasyndication.com/dna/City-Ahmedabad/dna_english_news_and_features/%E2%80%98FLINT%E2%80%99--a-smart-step-to-smart-education/DNAHM79773"
                                        target="_blank"><img src="././assets/templates/images/home/news/news_dna_syndication.png"
                                            alt="DNA Syndication" /></a></li>
                            </ul>

                            <div class="widget-scroll-prev" id="ourclients_prev"></div>
                            <div class="widget-scroll-next" id="ourclients_next"></div>
                        </div>
                    </div>
                </div>
                <svg class="svg-image-blur">
                    <filter id="blur-effect-1">
                        <feGaussianBlur stdDeviation="5" />
                    </filter>
                </svg>
            </div>
        </div>

        <div id="footer-section">
            <app-footer></app-footer>
        </div>

    </div>
    <div id="gotoTop" class="fa fa-angle-up"></div>
</div>